# Ansible managed
{% if creds.domain is defined %}domain={{ creds.domain }}{% endif %}
{% if creds.password is defined %}password={{ creds.password }}{% endif %}
{% if creds.username is defined %}username={{ creds.username }}{% endif %}